//Seletores
//-----------------------------------------------------
body {
	background-image: url(images/bg-body.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

figure {
	margin: 0;
}
ul {
	margin: 0;
}

.current_page_item, .current-menu-item {
	a {
		color: $primary-color !important;
	}
}

//Classes utilitárias
//-----------------------------------------------------
.rel {
	position: relative !important;
}

.border-bottom {
	border-bottom: 8px solid $primary-color;
}

.abs {
	position: absolute !important;
}

.text-up {
	text-transform: uppercase;
}

.text-low {
	text-transform: lowercase;
}

.font-body {
	font-family: 'Gotham-Book' !important;
}

.font-header {
	font-family: 'CoolveticaRg-Regular' !important;
}

.font-black {
	font-family: 'Gotham-Black' !important;
}

.display-block {
	display: block;
}

.display-tb {
	display: table;
}

.display-tbc {
	display: table-cell;
	vertical-align: middle;
}

.display-ib {
	display: inline-block;
}

.white {
	color: #fff;
}

.blue {
	color: $primary-color !important;
}

.trs {
	@include transition;
}

.trs-color {
	@include transition(color .3s linear);
}

.mbt {
	margin-bottom: rem-calc(20);
}

.no-mbt {
	margin-bottom: 0;
}

.mtp {
	margin-top: rem-calc(20);
}

.pr {
	padding-right: rem-calc(10);
}

.pl {
	padding-left: rem-calc(10);
}

.text-except {
	font-size: rem-calc(13);
}

.centered {
	margin: 0 auto;
}

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

a {
	@extend .trs-color;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

//Botões
.button-white {
	@include button($bg: white);
	color: $secondary-color;

	&:hover {
		color: white;
		background-color: $primary-color;
	}
}

input[type="submit"] {
	@extend .text-up;
	@extend .trs;
	background-color: #333;
	color: white;
	font-size: rem-calc(16);
	border: none !important;
	padding: rem-calc(10);
	cursor: pointer;

	&:hover {
		background-color: rgba(#333,.8);	
	}	
}