#header {
	padding-top: rem-calc(60);
}


//MENU PRINCIPAL
//****************************************************
#main-menu {
	margin-top: rem-calc(40);

	a:not(.button) {
		color: #555;

		&:hover {
			color: $primary-color;
			border-color: $primary-color;
		}	
	}

	.button {
		line-height: 1;
		margin-bottom: 10px;
	}
}

.social-links {
	margin-bottom: 0;
	
	a {
		padding: rem-calc(5) rem-calc(6);
		border: 1px solid #555;
		border-radius: 100%;
		line-height: 1;
	}

	li:not(:first-child) {
		margin-left: rem-calc(5);
	}
}

//MENU-MOBILE
#menu-mobile {
	z-index: 9999;
	width: 100% !important;

	&.open {
		left: 0 !important;
	}	

	a {
		color: #fff !important;
	}
}