//SLIDE PRINCIPAL
//****************************************************
#main-slide {
	margin-top: rem-calc(10);

	figure {
		height: rem-calc(550);
		@extend .trs;
	}

	.cycle-slideshow {
		overflow: visible !important;
	}

	.button-white {
		@extend .abs;
		top: 100%;
		right: 0;
	}

	&:hover {
		figure {
			opacity: .7;
		}
	}
}

.slide-info {
	background: $secondary-color;
	right: 0;
	
	padding: rem-calc(10) rem-calc(20) rem-calc(20) rem-calc(20);
	@extend .trs;

	p {
		margin: 0;

		&.except {
			font-size: rem-calc(14);
		}
	}

	h1, h4 {
		line-height: 1;
	}

	a:hover {
		color: #fff;
	}
}

#progress {
	height: 5px;
	background-color: $primary-color;
	@extend .abs;
	bottom:0;
	z-index: 999;
}

.slide-pager {
	z-index: 999;
	text-align: center;
	bottom: 20px;
	
	span {
		@extend .display-ib;
		cursor: pointer;
		padding: 10px;
		background-color: #FFF;
		border-radius: 100%;
		margin: 0 5px;

		&.cycle-pager-active {
			background-color: $primary-color;
		}
	}
}