/*
	Blocos de conteudos
 */
.content-block {
	article {
		background-color: #FFF;
		padding: rem-calc(20) rem-calc(10);
		&.fb-like-box {
			padding: rem-calc(20) rem-calc(4);
		}
	}

	a {
		color: $body-font-color;
		&.primary {
			color: $primary-color;
		}
		&:hover {
			color: $primary-color;
		}
	}

	.except {
		font-size: rem-calc(12);
	}

	p {
		margin-bottom: rem-calc(10);
		&:last-child {
			margin-bottom: 0;
		}
	}

	figure {
		@extend .trs;
	}

	&:hover {
		figure {
			opacity: .8;
		}
	}
}

%common-thumb {
	top: 0;
	height: 100%;
}

.content-thumb-right {
	right: 0;
	@extend %common-thumb;
}

.content-thumb-left {
	left: 0;
	@extend %common-thumb;
}

.content-thumb-top {
	height: rem-calc(150);
	@extend .trs;
	&:hover {
		opacity: .8;
	}
}

.content-thumb-inner {
	height: rem-calc(300);
}

.social-actions {
	figure {
		height: rem-calc(200);
	}
}

.small-text {
	font-size: rem-calc(12);
}

.less-opacity {
	@extend .trs;
	&:hover {
		opacity: .7;
	}
}

//Titulos
.panel-title {
	background-color: #FFF;
	font-size: rem-calc(80);
	font-weight: 800;
	color: $primary-color;
	padding: rem-calc(20) 0 rem-calc(11) 0;

	&.no-bg {
		background-color: transparent;
	}

	&.info {
		font-size: rem-calc(14) !important;
		color: #333;
	}
}

//Rodape
.icon-footer {
	margin-right: rem-calc(20);
}
#footer,#footer-mobile {
	p,h5 {
		color: #acacac;
	}
	h5 {
		letter-spacing: rem-calc(1.5);
	}
	p {
		font-size: rem-calc(14);
	}
}