.icon-an-loader {
  background-image: url(images/spritesheet.png);
  background-position: 0px -48px;
  width: 43px;
  height: 43px;
}
.icon-footer {
  background-image: url(images/spritesheet.png);
  background-position: 0px 0px;
  width: 99px;
  height: 48px;
}
